<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Fierst Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="/main.css">
  </head>
<body>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>


{{#data}}  

<div id="diamonds"> Diamantes: {{diamonds}} </div>

<a href="/">
    <button> Sair </button>
</a> 

<header>
    <div class="shift_elements">
        <div id="shift_time_text"> minutos para o próximo turno. </div>
    </div>
</header>


<section class="top_menu">

    <h3> {{t_name}} </h3>

    <div id="opcion_1">
        <div id="earnings_1">
            <div> Ouro: {{gold}} </div>
            <div> Suprimentos: {{supplies}} </div>
            <div> Madeira: {{wood}} </div>
            <div> Turno: -- </div>

        <div id="earnings_2">
                <div class="workers_producing"> + {{worker_producing_gold}} </div>
                <div class="workers_producing"> + {{worker_producing_supplies}} </div>
                <div class="workers_producing"> + {{worker_producing_wood}} </div>
        </div>  
    </div>
    

    <div class="opcion_2">
        <div id="sub_text">
            <div> Origem: {{origin}} </div>
            <div> Clã: {{cla}} </div>
            <div> Ranking: -- </div>
            <div> Nível: {{level}} </div>
        </div>
    </div>

</section>

<section class="sidebar_menu">
    
    <h3 >Menu Principal</h3>
    <a class="links" href="/Diamonds/{{user_id}}"><button> Diamantes </button></a>
    <br><br>
    <a class="links" href="/Logged/{{user_id}}"><button> Início </button></a>  
    <br><br>
    <a class="links"  href="/Profile/{{user_id}}"><button> Meu Perfil </button></a> 
    <br><br>
    <a class="links" href="/Manual/{{user_id}}"><button> Manual </button></a> 
    <br><br>
    
    <h3 >Ações</h3>
    <a class="links" href="/Workers/{{user_id}}"><button> Trabalhadores </button></a> 
    <br><br>
    <a class="links" href="/Business/{{user_id}}"><button> Comércio </button></a> 
    <br><br>
    <a class="links" href="/Technology/{{user_id}}"><button> Tecnologia </button></a> 
    <br><br>
    <a class="links" href="/Armys/{{user_id}}"><button> Exército </button></a> 
    <br><br>
    <a class="links" href="/Menssages/{{user_id}}"><button> Menssages </button></a> 
    <br><br>
    
    <h3 >Informações</h3>
    <a class="links" href="/Clan/{{user_id}}"><button> Clã </button></a> 
    <br><br>
    <a class="links" href="/Ranking/{{user_id}}"><button> Ranking </button></a> 
    <br><br>
    <a class="links" href="/Historic/{{user_id}}"><button> Histórico </button></a> 
    <br><br>
    <a class="links" href="/Support/{{user_id}}"><button> Suporte </button></a> 
    <br><br>

</section>
{{/data}}

{{{body}}}

</body>
</html>