<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Fierst Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

  

<!-- Socket.io -->
<header>
    <script src="/socket.io/socket.io.js"></script>

        <div id="elementos_turno">
          
            <div id="tempo_turno" style="position: absolute; left: 600px; margin-top: 5px;"></div>
            <div style="position: absolute; left: 622px; margin-top: 5px;">minutos para o próximo turno.</div>
            <div id="res"></div>
        </div>

    <script>
            const socket = io()

            var count = new Number();
            var count = 60;

            function start(){

                if ((count - 1) >= 0){
                count -= 1;
                if (count == 0) {
                    count = "Atualize a Pagina";
                }else if(count < 10){
                    count = "0"+count;
                }
                tempo_turno.innerText=count;
                setTimeout('start();', 5000);

                }
            }

            start()
    </script>
</header>
<!-- Socket.io -->
    
    {{#data}}

<!-- Menu Superior -->
<section id="menu_superior">

    <div style="text-align: center;">{{t_name}}</div>
    <div class="info_menu_superior">
        <div class="ganhos_menu_superior_1">
            <div>Ouro: {{gold}} </div>
            <div>Suprimentos: {{supplies}} </div>
            <div>Madeira: {{wood}}</div>
            <div>Turno: --</div>
        <div id="ganhos_menu_superior_2">
                <div style="background-color: black; height: 17px; width: 45px; border-radius: 5px;"> + {{worker_producing_gold}}</div>
                <div style="background-color: black; height: 17px; width: 45px; border-radius: 5px;"> + {{worker_producing_supplies}}</div>
                <div style="background-color: black; height: 17px; width: 45px; border-radius: 5px;"> + {{worker_producing_wood}}</div>
        </div>    
        </div>
    </div>

     <div class="info_menu_superior" style="left: 650px;">
         <div id="info_sub_menu_1">
            <div>Diamantes: {{diamonds}}</div>
            <div>Clã: {{cla}}</div>
            <div>Ranking: -- </div>
            <div>Nível: {{level}} </div>
         </div>
    </div>

    <div class="d-flex align-items-start">
</section>

<section class="menu_barra_lateral">
    <h3 >Menu Principal</h3>
    <a style="text-decoration: none;" class="links" href="/Diamantes/{{user_id}}">Diamantes</a> <br><br>
    <a style="text-decoration: none;" class="links" href="/Logged/{{user_id}}">Início</a>  <br><br>
    <a style="text-decoration: none;" class="links"  href="/Profile/{{user_id}}">Meu Perfil</a><br><br>
    <a style="text-decoration: none;" class="links" href="/Manual/{{user_id}}">Manual</a><br><br>
    <a style="text-decoration: none;" class="links" href="/">Sair</a>
    <h3 >Ações</h3>
    <a style="text-decoration: none;" class="links" href="/Trabalhadores/{{user_id}}">Trabalhadores</a><br><br>
    <a style="text-decoration: none;" class="links" href="/Comercio/{{user_id}}">Comércio</a><br><br>
    <a style="text-decoration: none;" class="links" href="/Tecnologia/{{user_id}}">Tecnologia</a><br><br>
    <a style="text-decoration: none;" class="links" href="/Exercito/{{user_id}}">Exército</a><br><br>
    <a style="text-decoration: none;" class="links" href="/Menssagens/{{user_id}}">Mensagens</a><br><br>
    <h3 >Informações</h3>
    <a style="text-decoration: none;" class="links" href="/Cla/{{user_id}}">Clã</a><br><br>
    <a style="text-decoration: none;" class="links" href="/Ranking/{{user_id}}">Rancking</a> <br><br>
    <a style="text-decoration: none;" class="links" href="/Historico/{{user_id}}">Histórico de Guerra</a> <br><br>
    <a style="text-decoration: none;" class="links" href="/Suporte/{{user_id}}">Suporte</a> <br><br>
</section>

{{/data}}

    {{{body}}}
  </body>
</html>