<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Fierst Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="/main.css">
  </head>
<body>

{{#data}}  

<a href="/">
    <button> Sair </button>
</a> 

<header>
    <div class="shift_elements">
        <div id="shift_time_text"> minutos para o próximo turno. </div>
    </div>
</header>


<section class="top_menu">

    <h3> {{t_name}} </h3>

    <div id="opcion_1">
     
        <div id="earnings_1">
            <div id="gold"></div>
            <div id="supplies"></div>
            <div id="wood"></div>
            <div> Turno: -- </div>

            <div class="add_workers">
                <div id="worker_producing_gold"></div>
                <div id="worker_producing_supplies"></div>
                <div id="worker_producing_wood"></div>
            </div>
        </div>

        <div id="earnings_2"></div>  
    </div>
    

    <div class="opcion_2">
        <div id="sub_text">
             <div id="origin"></div>
            <div> Clã: </div>
            <div> Ranking: -- </div>
            <div> Nível: </div>
        </div>
    </div>

</section>

<section class="sidebar_menu">
    
    <h3 >Menu Principal</h3>
    <a class="links" href="/Diamonds/{{user_id}}"><button> Diamantes </button></a>
    <br><br>
    <a class="links" href="/Logged/{{user_id}}"><button> Início </button></a>  
    <br><br>
    <a class="links"  href="/Profile/{{user_id}}"><button> Meu Perfil </button></a> 
    <br><br>
    <a class="links" href="/Manual/{{user_id}}"><button> Manual </button></a> 
    <br><br>
    
    <h3 >Ações</h3>
    <a class="links" href="/Workers/{{user_id}}"><button> Trabalhadores </button></a> 
    <br><br>
    <a class="links" href="/Business/{{user_id}}"><button> Comércio </button></a> 
    <br><br>
    <a class="links" href="/Technology/{{user_id}}"><button> Tecnologia </button></a> 
    <br><br>
    <a class="links" href="/Armys/{{user_id}}"><button> Exército </button></a> 
    <br><br>
    <a class="links" href="/Menssages/{{user_id}}"><button> Menssages </button></a> 
    <br><br>
    
    <h3 >Informações</h3>
    <a class="links" href="/Clan/{{user_id}}"><button> Clã </button></a> 
    <br><br>
    <a class="links" href="/Ranking/{{user_id}}"><button> Ranking </button></a> 
    <br><br>
    <a class="links" href="/Historic/{{user_id}}"><button> Histórico </button></a> 
    <br><br>
    <a class="links" href="/Support/{{user_id}}"><button> Suporte </button></a> 
    <br><br>

</section>
{{/data}}

{{{body}}}


<script>

   setInterval (async() => {
        try {
            const response = await fetch('/main_users')
            const data = await response.json()
            MainShow(data)

        } catch (error) { console.log(error) }
    },30)

    const MainShow = (users) => {

        var gold, supplies, wood, origin
        var worker_producing_gold, worker_producing_supplies, worker_producing_wood

        users.map((item) => {
            return gold = item.gold,
                   supplies = item.supplies,
                   wood = item.wood,
                   origin = item.origin,
                   worker_producing_gold = item.worker_producing_gold,
                   worker_producing_supplies = item.worker_producing_supplies,
                   worker_producing_wood = item.worker_producing_wood
        })

        document.querySelector('#gold').innerHTML = 'Ouro: ' + gold
        document.querySelector('#supplies').innerHTML = 'Suprimentos: ' + supplies
        document.querySelector('#wood').innerHTML = 'Madeira: ' + wood
        document.querySelector('#origin').innerHTML = 'Origem: ' + origin
        document.querySelector('#worker_producing_gold').innerHTML = '+ ' + worker_producing_gold
        document.querySelector('#worker_producing_supplies').innerHTML = '+ ' + worker_producing_supplies
        document.querySelector('#worker_producing_wood').innerHTML = '+ ' + worker_producing_wood
    }

</script>

</body>
</html>