<h1>Logged</h1>

<style>
    body {
    background-color: darkolivegreen;
    color: cornsilk;}
    #menu_superior {
        background-color: rgb(39, 43, 23);
        position: absolute;
        width: 900px;
        height: 200px; 
        top: 170px;
        left: 40%;
        transform: translate(-25%, -35%);
        border-radius: 15px;}
    .info_menu_superior {
        background-color: rgb(35, 56, 35);
        position: absolute;
        left: 50px;
        top: 40px;
        width: 200px;
        height: 140px;
        border-radius: 15px;}
    .ganhos_menu_superior_1 {
        position: relative; 
        top: 30px;
        left: 30px;}
    #ganhos_menu_superior_2 {
        color: green; 
        position: relative; 
        top: -70px;
        left: 120px;}
    #info_sub_menu_1 {
        position: relative;       
        top: 40px;
        left: 30px;}
    .menu_barra_lateral{
        background-color: rgb(39, 43, 23); 
        color: rgb(226, 216, 172);
        text-align: center;
        position: absolute;
        top: 100px;
        width: 215px; 
        height: 730px;
        left: 40px;
        border-radius: 15px;}

    .links{
        color: rgb(186, 169, 101);
        margin: 3px;}
</style>

<!-- Socket.io -->
<header>
    <script src="/socket.io/socket.io.js"></script>

        <div id="res"></div>

    <script>
            const socket = io()

            socket.on('cart', (prime) => {
                const res = document.getElementById('res')
                res.innerHTML = prime
            })
    </script>
</header>
<!-- Socket.io -->

{{#data}}

<!-- Menu Superior -->
<section id="menu_superior">

    <div style="text-align: center;">{{t_name}}</div>
    <div class="info_menu_superior">
        <div class="ganhos_menu_superior_1">
            <div>Ouro: {{gold}} </div>
            <div>Suprimentos: {{supplies}} </div>
            <div>Madeira: {{wood}}  </div>
            <div>Turno: 0 / 800</div>
        <div id="ganhos_menu_superior_2">
                <div>+ 30</div>
                <div>+ 50</div>
                <div>+ 110</div>
        </div>    
        </div>
    </div>

     <div class="info_menu_superior" style="left: 650px;">
         <div id="info_sub_menu_1">
             <div>Diamantes: {{diamonds}}</div>
            <div>Clã: Meu Clã</div>
            <div>Ranking: 10º </div>
            <div>Nível: 1 </div>
            <div>Barra evolução</div>
         </div>
    </div>

    <div class="d-flex align-items-start">
</section>

<section class="menu_barra_lateral">
    <h3 >Menu Principal</h3>
    <a class="links" href="/Diamantes/{{user_id}}">Diamantes</a> <br><br>
    <a class="links" href="/Logged/{{user_id}}">Início</a>  <br><br>
    <a class="links"  href="/Profile/{{user_id}}">Meu Perfil</a><br><br>
    <a class="links" href="/Manual/{{user_id}}">Manual</a><br><br>
    <a class="links" href="/">Sair</a>
    <h3 >Ações</h3>
    <a class="links" href="/Trabalhadores/{{user_id}}">Trabalhadores</a><br><br>
    <a class="links" href="/Comercio/{{user_id}}">Comércio</a><br><br>
    <a class="links" href="/Tecnologia/{{user_id}}">Tecnologia</a><br><br>
    <a class="links" href="/Exercito/{{user_id}}">Exército</a><br><br>
    <a class="links" href="/Menssagens/{{user_id}}">Mensagens</a><br><br>
    <h3 >Informações</h3>
    <a class="links" href="/Cla/{{user_id}}">Clã</a><br><br>
    <a class="links" href="/Ranking/{{user_id}}">Rancking</a> <br><br>
    <a class="links" href="/Historico/{{user_id}}">Histórico de Guerra</a> <br><br>
    <a class="links" href="/Suporte/{{user_id}}">Suporte</a> <br><br>
</section>

{{/data}}